### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Unclean_purchase_data_df = pd.read_csv(purchase_data)
Unclean_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Clean the data of any empties
purchase_data_df=Unclean_purchase_data_df.dropna(how="any")
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
player_count_df= len(purchase_data_df["SN"].unique())
player_count_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculates the average price
average_price = purchase_data_df["Price"].mean()
average_price_format = '${:.2f}'.format(average_price)
print(average_price_format)

$3.05

In [6]:
#Calculates number of Purchase
num_purchaseID= len(purchase_data_df["Purchase ID"].unique())
num_purchaseID

780

In [7]:
#Calculate number of unique items
items_unique= len(purchase_data_df["Item Name"].unique())
items_unique

179

In [8]:
#Calculate Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue_format = "${:.2f}".format(total_revenue)
total_revenue_format

'$2379.77'

In [9]:
summary1_df = pd.DataFrame({"Number of Unique Items":items_unique,
                           "Average Price":[average_price_format],
                           "Number of Purchases":num_purchaseID,
                           "Total Revenue":total_revenue_format})
summary1_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Group by Gender in order to separate the data fields acordingto "Gender values and put it in a Data Frame"
gender_counts_df = purchase_data_df["Gender"].value_counts().to_frame()
gender_counts_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [11]:
#percentage of Players based on genders
percentage_gender_df = (purchase_data_df["Gender"].value_counts().to_frame()/player_count_df)*100
percentage_gender_df

                           Gender
Male                   113.194444
Female                  19.618056
Other / Non-Disclosed    2.604167

In [12]:
# Add the percentage to Data Frame
gender_counts_df["Percentage of Players"]= percentage_gender_df
gender_counts_df

                       Gender  Percentage of Players
Male                      652             113.194444
Female                    113              19.618056
Other / Non-Disclosed      15               2.604167

In [13]:
#format the column Percentage of Players into Percentage
gender_counts_df.dtypes
gender_counts_df.loc[:, "Percentage of Players"] = gender_counts_df["Percentage of Players"].map("{:,.2f}%".format)
gender_counts_df

                       Gender Percentage of Players
Male                      652               113.19%
Female                    113                19.62%
Other / Non-Disclosed      15                 2.60%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Need to rename header to help with next items
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [15]:
#Sort the Data based on Gender
rename_group_gender_df = purchase_data_df.rename(columns={"Gender":"GenderCount"})
rename_group_gender_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
#Group by GenderCount
group_gender_df = rename_group_gender_df.groupby('GenderCount')
group_gender_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [17]:
#Count of each Group
gender_count_df = group_gender_df['Purchase ID'].count()
gender_count_df

GenderCount
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
#change the data type from interger to float to make all the data types the same 
gender_count = gender_count_df.astype(float)
gender_count_df

GenderCount
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [19]:
#Average Purchase Price
gender_avg_purchase_price = round (group_gender_df["Price"].mean(),2)
gender_avg_purchase_price

GenderCount
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [20]:
#Total Purchase Value
gender_total_purchase_price = round(group_gender_df["Price"].sum(),2)
gender_total_purchase_price

GenderCount
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [21]:
#average Total Purchase per person
gender_avg_total_purchase = round(gender_total_purchase_price/gender_count, 2)
gender_avg_total_purchase

GenderCount
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [22]:
#summary table
summary2_df = pd.DataFrame({"Purchase Count":gender_count,
                           "Average Purchase Price":gender_avg_purchase_price,
                           "Total Purchase Price":gender_total_purchase_price,
                           "Total Revenue":gender_avg_total_purchase})
summary2_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Total Revenue
GenderCount,,,,
Female,113.0,3.20,361.94,3.20
Male,652.0,3.02,1967.64,3.02
Other / Non-Disclosed,15.0,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
#Copy the Data Frame to backtrack the infromation
age_demo_df = rename_group_gender_df.copy(deep=True)
age_demo_df

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [24]:
#Figure out the Bin set of range
print(age_demo_df['Age'].min())
print(age_demo_df['Age'].max())
print(round(age_demo_df['Age'].mean()))

7
45
23.0

In [25]:
#Create the Bin
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
age_demo_df["Age Group"] = pd.cut(age_demo_df["Age"], bins, labels= age_group)
age_demo_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [26]:
age_demo_df.columns

Index(['Purchase ID', 'SN', 'Age', 'GenderCount', 'Item ID', 'Item Name',
       'Price', 'Age Group'],
      dtype='object')

In [27]:
#Remove the other columns and only give Total Count and SN
age_demo2_df = age_demo_df[["Age Group", "SN"]]
age_demo2_df.head()

  Age Group             SN
0     20-24        Lisim78
1       40+    Lisovynya38
2     20-24     Ithergue48
3     20-24  Chamassasya86
4     20-24      Iskosia90

In [28]:
#Counts the age per group
age_demo_summary = age_demo2_df.groupby("Age Group").count()
age_demo_summary

            SN
Age Group
<10         23
10-14       28
15-19      136
20-24      365
25-29      101
30-34       73
35-39       41
40+          6

In [29]:
#Only taking the Columns needed
age_demo2_df = age_demo_df[["SN", "Age", "GenderCount", "Item ID", "Item Name","Price", "Age Group"]]
age_demo2_df.head()

,SN,Age,GenderCount,Item ID,Item Name,Price,Age Group
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [30]:
#Create a new Data Frame to add "Age Grouping" then group it.
age_demo_group_df = age_demo2_df.groupby("Age Group")
print(age_demo_group_df["GenderCount"].count())

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: GenderCount, dtype: int64

In [31]:
#checking the data type before continuing
age_demo_summary.dtypes

SN    int64
dtype: object

In [32]:
age_counts = age_demo_summary['SN']
age_counts

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: SN, dtype: int64

In [33]:
#Percentage of the group over total
age_demo_percent = round(((age_counts / 576) * 100), 2)
age_demo_percent

Age Group
<10       3.99
10-14     4.86
15-19    23.61
20-24    63.37
25-29    17.53
30-34    12.67
35-39     7.12
40+       1.04
Name: SN, dtype: float64

In [34]:

summary3_df = pd.DataFrame({"Total Count":age_counts,
                           "Percentages of Players":age_demo_percent})
summary3_df

           Total Count  Percentages of Players
Age Group
<10                 23                    3.99
10-14               28                    4.86
15-19              136                   23.61
20-24              365                   63.37
25-29              101                   17.53
30-34               73                   12.67
35-39               41                    7.12
40+                  6                    1.04

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
#Copy the Data Frame and create a new Data Frame 
age_df = rename_group_gender_df.copy(deep=True)

In [36]:
#Create the Bin
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
age_demo_group = age_df.groupby(pd.cut(age_df["Age"], bins, labels=age_group))
age_demo_group.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77
46,46,Yasrisu92,27,Male,102,Avenger,3.44
49,49,Iaralrgue74,33,Male,110,Suspension,1.44
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56
78,78,Haillyrgue51,7,Male,50,Dawn,4.60
81,81,Heudai45,8,Female,174,Primitive Blade,3.47
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39
341,341,Hiasurria41,41,Male,71,Demise,1.61
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93
480,480,Salilis27,40,Male,59,"Lightning, Etcher of the King",4.23
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00

In [37]:
#Get the total of the Price
pur_count = age_demo_group["Price"].count()
pur_count

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Price, dtype: int64

In [38]:
#Convert the above data tye to a float
pur_count = pur_count.astype(float)
pur_count

Age
<10       23.0
10-14     28.0
15-19    136.0
20-24    365.0
25-29    101.0
30-34     73.0
35-39     41.0
40+        6.0
Name: Price, dtype: float64

In [39]:
#Calculate the Average
avg_price_gender_ana =round(age_demo_group["Price"].mean(),2)
avg_price_gender_ana

Age
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.78
Name: Price, dtype: float64

In [40]:
#Calculate the total price per age group
total_per_gender =round (age_demo_group["Price"].sum(),2)
total_per_gender

Age
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [41]:
#Calculate the Normailzed Total
norm_total = age_demo_group["Price"].sum()/age_demo_group["SN"].nunique()
norm_total

Age
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.342000
dtype: float64

In [42]:
summary4_df = pd.DataFrame({"Purchase Count":pur_count, 
                            "Average Purchase Price":avg_price_gender_ana,
                            "Total Purchase Value": total_per_gender,
                            "Normalized Totals":round (norm_total,2)})
summary4_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23.0,3.35,77.13,4.54
10-14,28.0,2.96,82.78,3.76
15-19,136.0,3.04,412.89,3.86
20-24,365.0,3.05,1114.06,4.32
25-29,101.0,2.90,293.00,3.81
30-34,73.0,2.93,214.00,4.12
35-39,41.0,3.60,147.67,4.76
40+,6.0,2.78,16.71,3.34

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
#Copy Data Frame
top_spend_df = rename_group_gender_df.copy(deep=True)
top_spend_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [44]:
top_spend_groupby_df = top_spend_df.groupby(['SN'])
top_spend_groupby_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [51]:
#Total puchase counter by name
total_purch_count = round(top_spend_groupby_df['Purchase ID'].count(),2)
total_purch_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [52]:
#Calculate the Average purchase
total_avg_purch = round(top_spend_groupby_df['Price'].mean(),2)
total_avg_purch

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [53]:
#Calculate the total purchase
total_sum_purch = round(top_spend_groupby_df['Price'].sum(),2)
total_sum_purch

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [57]:
summary5_df = pd.DataFrame({"Purchase Count": total_purch_count,
                             "Average Purchase Price": total_avg_purch,
                             "Total Purchase Value":total_sum_purch})
summary5_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                    2.28                  2.28
Adastirin33                 1                    4.48                  4.48
Aeda94                      1                    4.91                  4.91
Aela59                      1                    4.32                  4.32
Aelaria33                   1                    1.79                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                    2.07                  6.22
Yathedeu43                  2                    3.01                  6.02
Yoishirrala98               1                    4.58                  4.58
Zhisrisu83                  2                    3.94                  7.89
Zontibe81                   3                    2.68                  8.03

[576 rows x 3 columns]

In [55]:
#We need to srot the data and only get the top 5
sort_summary5_df = summary5_df.sort_values(["Total Purchase Value"], ascending=False).head()
sort_summary5_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame