### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Unclean_purchase_data_df = pd.read_csv(purchase_data)
Unclean_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Clean the data of any empties
purchase_data_df=Unclean_purchase_data_df.dropna(how="any")
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
player_count_df= len(purchase_data_df["SN"].unique())
player_count_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculates the average price
average_price = purchase_data_df["Price"].mean()
average_price_format = '${:.2f}'.format(average_price)
print(average_price_format)

$3.05

In [6]:
#Calculates number of Purchase
num_purchaseID= len(purchase_data_df["Purchase ID"].unique())
num_purchaseID

780

In [7]:
#Calculate number of unique items
items_unique= len(purchase_data_df["Item Name"].unique())
items_unique

179

In [8]:
#Calculate Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue_format = "${:.2f}".format(total_revenue)
total_revenue_format

'$2379.77'

In [9]:
summary1_df = pd.DataFrame({"Number of Unique Items":items_unique,
                           "Average Price":[average_price_format],
                           "Number of Purchases":num_purchaseID,
                           "Total Revenue":total_revenue_format})
summary1_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Group by Gender in order to separate the data fields acordingto "Gender values and put it in a Data Frame"
gender_counts_df = purchase_data_df["Gender"].value_counts().to_frame()
gender_counts_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [11]:
#percentage of Players based on genders
percentage_gender_df = (purchase_data_df["Gender"].value_counts().to_frame()/player_count_df)*100
percentage_gender_df

                           Gender
Male                   113.194444
Female                  19.618056
Other / Non-Disclosed    2.604167

In [12]:
# Add the percentage to Data Frame
gender_counts_df["Percentage of Players"]= percentage_gender_df
gender_counts_df

                       Gender  Percentage of Players
Male                      652             113.194444
Female                    113              19.618056
Other / Non-Disclosed      15               2.604167

In [13]:
#format the column Percentage of Players into Percentage
gender_counts_df.dtypes
gender_counts_df.loc[:, "Percentage of Players"] = gender_counts_df["Percentage of Players"].map("{:,.2f}%".format)
gender_counts_df

                       Gender Percentage of Players
Male                      652               113.19%
Female                    113                19.62%
Other / Non-Disclosed      15                 2.60%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Need to rename header to help with next items
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [15]:
#Sort the Data based on Gender
rename_group_gender_df = purchase_data_df.rename(columns={"Gender":"GenderCount"})
rename_group_gender_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [16]:
#Group by GenderCount
group_gender_df = rename_group_gender_df.groupby('GenderCount')
group_gender_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [17]:
#Count of each Group
gender_count_df = group_gender_df['Purchase ID'].count()
gender_count_df

GenderCount
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
#change the data type from interger to float to make all the data types the same 
gender_count = gender_count_df.astype(float)
gender_count_df

GenderCount
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [19]:
#Average Purchase Price
gender_avg_purchase_price = round (group_gender_df["Price"].mean(),2)
gender_avg_purchase_price

GenderCount
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [20]:
#Total Purchase Value
gender_total_purchase_price = round(group_gender_df["Price"].sum(),2)
gender_total_purchase_price

GenderCount
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [21]:
#average Total Purchase per person
gender_avg_total_purchase = round(gender_total_purchase_price/gender_count, 2)
gender_avg_total_purchase

GenderCount
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [22]:
#summary table
summary2_df = pd.DataFrame({"Purchase Count":gender_count,
                           "Average Purchase Price":gender_avg_purchase_price,
                           "Total Purchase Price":gender_total_purchase_price,
                           "Total Revenue":gender_avg_total_purchase})
summary2_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Total Revenue
GenderCount,,,,
Female,113.0,3.20,361.94,3.20
Male,652.0,3.02,1967.64,3.02
Other / Non-Disclosed,15.0,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
#Copy the Data Frame to backtrack the infromation
age_demo_df = rename_group_gender_df.copy(deep=True)
age_demo_df

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [24]:
#Figure out the Bin set of range
print(age_demo_df['Age'].min())
print(age_demo_df['Age'].max())
print(round(age_demo_df['Age'].mean()))

7
45
23.0

In [25]:
#Create the Bin
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
age_demo_df["Age Group"] = pd.cut(age_demo_df["Age"], bins, labels= age_group)
age_demo_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [26]:
age_demo_df.columns

Index(['Purchase ID', 'SN', 'Age', 'GenderCount', 'Item ID', 'Item Name',
       'Price', 'Age Group'],
      dtype='object')

In [27]:
#Remove the other columns and only give Total Count and SN
age_demo2_df = age_demo_df[["Age Group", "SN"]]
age_demo2_df.head()

  Age Group             SN
0     20-24        Lisim78
1       40+    Lisovynya38
2     20-24     Ithergue48
3     20-24  Chamassasya86
4     20-24      Iskosia90

In [28]:
#Counts the age per group
age_demo_summary = age_demo2_df.groupby("Age Group").count()
age_demo_summary

            SN
Age Group
<10         23
10-14       28
15-19      136
20-24      365
25-29      101
30-34       73
35-39       41
40+          6

In [29]:
#Only taking the Columns needed
age_demo2_df = age_demo_df[["SN", "Age", "GenderCount", "Item ID", "Item Name","Price", "Age Group"]]
age_demo2_df.head()

,SN,Age,GenderCount,Item ID,Item Name,Price,Age Group
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [30]:
#Create a new Data Frame to add "Age Grouping" then group it.
age_demo_group_df = age_demo2_df.groupby("Age Group")
print(age_demo_group_df["GenderCount"].count())

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: GenderCount, dtype: int64

In [31]:
#checking the data type before continuing
age_demo_summary.dtypes

SN    int64
dtype: object

In [32]:
age_counts = age_demo_summary['SN']
age_counts

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: SN, dtype: int64

In [33]:
#Percentage of the group over total
age_demo_percent = round(((age_counts / 576) * 100), 2)
age_demo_percent

Age Group
<10       3.99
10-14     4.86
15-19    23.61
20-24    63.37
25-29    17.53
30-34    12.67
35-39     7.12
40+       1.04
Name: SN, dtype: float64

In [34]:

summary3_df = pd.DataFrame({"Total Count":age_counts,
                           "Percentages of Players":age_demo_percent})
summary3_df

           Total Count  Percentages of Players
Age Group
<10                 23                    3.99
10-14               28                    4.86
15-19              136                   23.61
20-24              365                   63.37
25-29              101                   17.53
30-34               73                   12.67
35-39               41                    7.12
40+                  6                    1.04

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
age_demo_df.head()

,Purchase ID,SN,Age,GenderCount,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [49]:
#taking the previous table and only taking "Age Group", "SN","Price"
purch_analysis_df = age_demo_df[["SN","Price","GenderCount", "Age Group"]]
purch_analysis_df.head()

              SN  Price GenderCount Age Group
0        Lisim78   3.53        Male     20-24
1    Lisovynya38   1.56        Male       40+
2     Ithergue48   4.88        Male     20-24
3  Chamassasya86   3.27        Male     20-24
4      Iskosia90   1.44        Male     20-24

In [50]:
#Grouping the data by Age Group
purch_group_analysis_df = purch_analysis_df.groupby('Age Group')
purch_group_analysis_df.head()

                SN  Price            GenderCount Age Group
0          Lisim78   3.53                   Male     20-24
1      Lisovynya38   1.56                   Male       40+
2       Ithergue48   4.88                   Male     20-24
3    Chamassasya86   3.27                   Male     20-24
4        Iskosia90   1.44                   Male     20-24
5          Yalae81   3.61                   Male     20-24
6        Itheria73   2.18                   Male     35-39
9      Chanosian48   3.58  Other / Non-Disclosed     35-39
14     Saesrideu94   4.86                   Male     35-39
19       Chamalo71   4.64                   Male     30-34
22    Siarithria38   3.81  Other / Non-Disclosed     35-39
23        Eyrian71   3.40                   Male       40+
24         Siala43   3.19                   Male     30-34
25       Lisirra87   4.23                   Male     25-29
26      Lirtossa84   1.61                   Male     10-14
27         Eusri44   3.09                   Male       <10
30          Idai61   2.94                   Male     15-19
31     Farusrian86   4.48                   Male     35-39
32      Aeralria27   4.09                   Male     10-14
33    Haillyrgue51   2.38                   Male       <10
34        Sondim73   4.40                   Male     15-19
36      Idaisuir85   3.15                   Male     30-34
37       Seuthep89   2.05                   Male       <10
38        Reulae52   4.18                 Female     10-14
42   Aidaillodeu39   3.77                   Male     15-19
46       Yasrisu92   3.44                   Male     25-29
49     Iaralrgue74   1.44                   Male     30-34
53     Ilosianya35   2.84                   Male     30-34
54      Zhisrisu83   4.35                   Male     10-14
55       Phaelap26   3.79                 Female     25-29
56        Raesty92   3.53                   Male     10-14
59        Yaliru88   3.03                   Male     15-19
61      Jiskimya77   4.23                   Male     15-19
65    Chamirraya83   2.22                   Male     25-29
70       Pheodai94   1.56                   Male     25-29
78    Haillyrgue51   4.60                   Male       <10
81        Heudai45   3.47                 Female       <10
156       Eyrian71   1.79                   Male       40+
220     Jiskjask85   1.33                   Male       40+
248     Isursuir31   3.39                   Male       NaN
341    Hiasurria41   1.61                   Male       NaN
477     Mindossa76   4.93                   Male       NaN
480      Salilis27   4.23                   Male       40+
557     Frichaya88   3.93                   Male       NaN
674        Aeral68   4.00                   Male       NaN

In [39]:
#Group by Price and count each group
purch_counts_df = len(purch_analysis_df["SN"].unique())
purch_counts_df

576

In [40]:
#Taking the averge price
purch_average_prices_df = purch_analysis_df["Price"].mean
purch_average_prices_df

<bound method Series.mean of 0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64>

In [41]:
#Calculating the total price
total_purch_spent_df = purch_analysis_df["Price"].sum()
total_purch_spent_df

2379.77

In [43]:
#Calculating the average purchase per person
spending_per_person_df = round(total_purch_spent_df/purch_counts_df,2)
spending_per_person_df

4.13

In [44]:
summary4_df = pd.DataFrame({"Purchase Count":purch_counts_df,
                        "Average Purchase Price":purch_average_prices_df,
                        "Total Purchase Value":total_purch_spent_df, 
                        "Avg Total Purchase per Person":spending_per_person_df})

summary4_df.head()

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame